[project]
	description = Ansible-based automation for Selenium Grid deployment
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Pavel Novotny (pnovotny)
[access "refs/for/refs/*"]
	read = group user/Pavel Novotny (pnovotny)
	push = group user/Pavel Novotny (pnovotny)
	label-Code-Review = -2..+2 group user/Pavel Novotny (pnovotny)
	label-Verified = -1..+1 group user/Pavel Novotny (pnovotny)
	rebase = group user/Pavel Novotny (pnovotny)
	removeReviewer = group user/Pavel Novotny (pnovotny)
	submit = group user/Pavel Novotny (pnovotny)
[access "refs/heads/*"]
	read = group user/Pavel Novotny (pnovotny)
	create = group user/Pavel Novotny (pnovotny)
	push = +force group user/Pavel Novotny (pnovotny)
	pushMerge = group user/Pavel Novotny (pnovotny)
[access "refs/tags/*"]
	push = group user/Pavel Novotny (pnovotny)
	push = +force group user/Pavel Novotny (pnovotny)
