[Unit]
Description=x11vnc session (display :%i)
After=openbox@%i.service
Requires=openbox@%i.service

[Service]
Type=simple
EnvironmentFile=/etc/selenium-grid/selenium.conf
ExecStart=/usr/bin/x11vnc -q -display :%i -nopw -forever -shared -rfbport ${VNC_PORT_PREFIX}%i
Restart=on-abort
