[Unit]
Description=Xvfb session (display :%i)

[Service]
Type=simple
EnvironmentFile=/etc/selenium-grid/selenium.conf
ExecStart=/usr/bin/Xvfb :%i -ac -noreset -screen 0 $DISPLAY_OPTS
Restart=on-failure
